@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #333333;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 100px;
  padding: 10px;
}

nav a {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

nav a:first-child img {
  height: 70px;
  border-radius: 50px;
}
